<h1>Flights#index</h1>
<p>Find me in app/views/flights/index.html.erb</p>
<table class="table table-condensed">
	<thead>
		<tr>
			<th>Depart</th>
			<th>Arrive</th>
			<th>Flight #</th>
			<th>Travel Time (Mins)</th>
			<th>Departure City</th>
			<th>Arrival City</th>
		</tr>
	</thead>
	<tbody>
	<% @flights.each do |flight| %>
		<tr>
			<td><%= format_time flight.departs_at %></td>
			<td><%= format_time flight.arrives_at %></td>
			<td><%= link_to flight.number, flight %></td>
			<td><%= flight.travel_time %></td>
			<td><%= flight.departure_airport.city %> &ndash; <%= flight.departure_airport.code %></td>
			<td><%= flight.arrival_airport.city %> &ndash; <%= flight.arrival_airport.code %></td>
		</tr>
	<% end %>
	</tbody>
</table>
